.vbox_login{
    -fx-background-color: #fff;
    -fx-background-radius: 20px 0px 0px 20px; 
}
 
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,0,0);
}
.login_button_clicked{
    -fx-background-radius: 50px; 
    -fx-background-color: #ffa500;

}
.sign_button{
    -fx-background-radius: 50px; 
    -fx-background-color:transparent;
}

.second_side_background_color{
-fx-background-color: linear-gradient(to bottom right, #ffd700, #ffff00, #ffae69);
}
.thirdside_backgroundcolor{
-fx-background-color: linear-gradient(to bottom right, #50c878, #26619c, #40e0d0);
}

.background{
    -fx-background-color: transparent;
}
.right_side_buttons_radius{
    -fx-background-radius: 50px; 
}
.parolamiunutum:hover{
    -fx-background-color: #439d50;
}

.Admin_button{
    -fx-background-radius: 50px; 
    -fx-background-color:transparent;
}


.Admin_button_clicked{
    -fx-background-radius: 50px; 
    -fx-background-color: #ffa500;
    -fx-text-fill: white;
}

.login_button{
    -fx-background-radius: 50px; 
    -fx-background-color:transparent;
    -fx-text-fill: black;
}   

.sign_button_clicked{
    -fx-background-radius: 50px; 
    -fx-background-color: #ffa500;
    -fx-text-fill: white;
}

.Admin_button_Sign_In{
    -fx-background-radius: 50px; 
    -fx-background-color:transparent;
}

.Admin_button_Sign_In_clicked{
    -fx-background-radius: 50px; 
    -fx-background-color: #ffa500;
    -fx-text-fill: white;
}